---
interface Props {}
---

<header class='py-6 dark:bg-zinc-800 z-30'>
  <nav class='flex flex-col md:flex-row items-center'>
    <p class='flex-1'>FulanoD3Tal</p>
    <ul class='flex gap-6 items-center text-center scale-90 md:scale-100'>
      <li><a href='/'>Inicio</a></li>
      <li><a href='/#work'>Trabajos</a></li>
      <li><a href='/#about-me'>Sobre mi</a></li>
      <li>
        <a
          href='/#contact-me'
          class='bg-black text-white px-5 py-1.5 rounded-md inline-block'
          >Contactame</a
        >
      </li>
    </ul>
  </nav>
</header>
