---
import CTAButton from '@components/atoms/CTAButton.astro';
---

<section class='min-h-[600px] grid items-center'>
  <div class='flex flex-col gap-4'>
    <h2 class='text-xl font-medium'>FrontEnd Developer</h2>
    <h1 class='text-xl md:text-2xl font-rubik font-black'>
      Roberto De la Garza
    </h1>
    <p class='max-w-[45ch]'>
      Web, mobile y mucho más, mi meta es brindar soluciones para ti, contactame
      ahora para empezar ya
    </p>
    <div class='flex gap-8'>
      <CTAButton
        link='https://www.linkedin.com/in/roberto-alonso-de-la-garza-mendoza-3699361b2/'
        external
        label='LinkedIn'
      >
        <svg width='35' height='35' viewBox='0 0 30 30' class='fill-current'>
          <g>
            <path
              d='M23.3333 4.28571C23.9648 4.28571 24.5704 4.53656 25.0169 4.98307C25.4634 5.42959 25.7143 6.03519 25.7143 6.66666V23.3333C25.7143 23.9648 25.4634 24.5704 25.0169 25.0169C24.5704 25.4634 23.9648 25.7143 23.3333 25.7143H6.66667C6.0352 25.7143 5.4296 25.4634 4.98308 25.0169C4.53657 24.5704 4.28572 23.9648 4.28572 23.3333V6.66666C4.28572 6.03519 4.53657 5.42959 4.98308 4.98307C5.4296 4.53656 6.0352 4.28571 6.66667 4.28571H23.3333ZM22.7381 22.7381V16.4286C22.7381 15.3993 22.3292 14.4121 21.6014 13.6843C20.8736 12.9565 19.8864 12.5476 18.8571 12.5476C17.8452 12.5476 16.6667 13.1667 16.0952 14.0952V12.7738H12.7738V22.7381H16.0952V16.869C16.0952 15.9524 16.8333 15.2024 17.75 15.2024C18.192 15.2024 18.616 15.378 18.9285 15.6905C19.2411 16.0031 19.4167 16.427 19.4167 16.869V22.7381H22.7381ZM8.90476 10.9048C9.4352 10.9048 9.94391 10.694 10.319 10.319C10.6941 9.94389 10.9048 9.43519 10.9048 8.90475C10.9048 7.79761 10.0119 6.89285 8.90476 6.89285C8.37117 6.89285 7.85944 7.10482 7.48213 7.48212C7.10483 7.85943 6.89286 8.37116 6.89286 8.90475C6.89286 10.0119 7.79762 10.9048 8.90476 10.9048ZM10.5595 22.7381V12.7738H7.26191V22.7381H10.5595Z'
            >
            </path>
          </g>
        </svg>
      </CTAButton>
      <CTAButton link='https://github.com/FulanoD3tal' external label='Github'>
        <svg width='40' height='40' viewBox='0 0 40 40' class='fill-current'>
          <g>
            <path
              d='M20.0001 5.99998C18.1616 5.99998 16.3411 6.36211 14.6425 7.06567C12.9439 7.76924 11.4006 8.80047 10.1006 10.1005C7.47507 12.726 6.00007 16.287 6.00007 20C6.00007 26.188 10.0181 31.438 15.5761 33.3C16.2761 33.412 16.5001 32.978 16.5001 32.6V30.234C12.6221 31.074 11.7961 28.358 11.7961 28.358C11.1521 26.734 10.2421 26.3 10.2421 26.3C8.96807 25.432 10.3401 25.46 10.3401 25.46C11.7401 25.558 12.4821 26.902 12.4821 26.902C13.7001 29.03 15.7581 28.4 16.5561 28.064C16.6821 27.154 17.0461 26.538 17.4381 26.188C14.3301 25.838 11.0681 24.634 11.0681 19.3C11.0681 17.746 11.6001 16.5 12.5101 15.506C12.3701 15.156 11.8801 13.7 12.6501 11.81C12.6501 11.81 13.8261 11.432 16.5001 13.238C17.6061 12.93 18.8101 12.776 20.0001 12.776C21.1901 12.776 22.3941 12.93 23.5001 13.238C26.1741 11.432 27.3501 11.81 27.3501 11.81C28.1201 13.7 27.6301 15.156 27.4901 15.506C28.4001 16.5 28.9321 17.746 28.9321 19.3C28.9321 24.648 25.6561 25.824 22.5341 26.174C23.0381 26.608 23.5001 27.462 23.5001 28.764V32.6C23.5001 32.978 23.7241 33.426 24.4381 33.3C29.9961 31.424 34.0001 26.188 34.0001 20C34.0001 18.1615 33.638 16.341 32.9344 14.6424C32.2308 12.9439 31.1996 11.4005 29.8996 10.1005C28.5995 8.80047 27.0562 7.76924 25.3576 7.06567C23.6591 6.36211 21.8386 5.99998 20.0001 5.99998Z'
            >
            </path>
          </g>
        </svg>
      </CTAButton>
      <CTAButton
        link='mailto:robert.garza.men@gmail.com@gmail.com'
        label='Email'
      >
        <svg width='28' height='28' viewBox='0 0 28 28' class='fill-current'>
          <g>
            <path
              d='M23.3333 21H21V10.7917L14 15.1667L7 10.7917V21H4.66667V7.00001H6.06667L14 11.9583L21.9333 7.00001H23.3333M23.3333 4.66667H4.66667C3.37167 4.66667 2.33334 5.70501 2.33334 7.00001V21C2.33334 21.6188 2.57917 22.2123 3.01675 22.6499C3.45434 23.0875 4.04783 23.3333 4.66667 23.3333H23.3333C23.9522 23.3333 24.5457 23.0875 24.9833 22.6499C25.4208 22.2123 25.6667 21.6188 25.6667 21V7.00001C25.6667 6.38117 25.4208 5.78767 24.9833 5.35009C24.5457 4.9125 23.9522 4.66667 23.3333 4.66667Z'
            ></path>
          </g>
        </svg>
      </CTAButton>
      <CTAButton
        link='https://wa.me/522223818825'
        label='WhatsApp:+522223818825'
      >
        <svg
          width='28'
          height='28'
          viewBox='0 0 360 362'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M307.546 52.5655C273.709 18.685 228.706 0.0171895 180.756 0C81.951 0 1.53846 80.404 1.50408 179.235C1.48689 210.829 9.74646 241.667 25.4319 268.844L0 361.736L95.0236 336.811C121.203 351.096 150.683 358.616 180.679 358.625H180.756C279.544 358.625 359.966 278.212 360 179.381C360.017 131.483 341.392 86.4547 307.546 52.5741V52.5655ZM180.756 328.354H180.696C153.966 328.346 127.744 321.16 104.865 307.589L99.4242 304.358L43.034 319.149L58.0834 264.168L54.5423 258.53C39.6304 234.809 31.749 207.391 31.7662 179.244C31.8006 97.1036 98.6334 30.2707 180.817 30.2707C220.61 30.2879 258.015 45.8015 286.145 73.9665C314.276 102.123 329.755 139.562 329.738 179.364C329.703 261.513 262.871 328.346 180.756 328.346V328.354ZM262.475 216.777C257.997 214.534 235.978 203.704 231.869 202.209C227.761 200.713 224.779 199.966 221.796 204.452C218.814 208.939 210.228 219.029 207.615 222.011C205.002 225.002 202.389 225.372 197.911 223.128C193.434 220.885 179.003 216.158 161.891 200.902C148.578 189.024 139.587 174.362 136.975 169.875C134.362 165.389 136.7 162.965 138.934 160.739C140.945 158.728 143.412 155.505 145.655 152.892C147.899 150.279 148.638 148.406 150.133 145.423C151.629 142.432 150.881 139.82 149.764 137.576C148.646 135.333 139.691 113.287 135.952 104.323C132.316 95.5909 128.621 96.777 125.879 96.6309C123.266 96.5019 120.284 96.4762 117.293 96.4762C114.302 96.4762 109.454 97.5935 105.346 102.08C101.238 106.566 89.6691 117.404 89.6691 139.441C89.6691 161.478 105.716 182.785 107.959 185.776C110.202 188.767 139.544 234.001 184.469 253.408C195.153 258.023 203.498 260.782 210.004 262.845C220.731 266.257 230.494 265.776 238.212 264.624C246.816 263.335 264.71 253.786 268.44 243.326C272.17 232.866 272.17 223.893 271.053 222.028C269.936 220.163 266.945 219.037 262.467 216.794L262.475 216.777Z'
            fill='white'></path>
        </svg>
      </CTAButton>
    </div>
  </div>
</section>
