---
import AboutMe from '@components/organisms/AboutMe.astro';
import ContactMe from '@components/organisms/ContactMe.astro';
import Hero from '@components/organisms/Hero.astro';
import ShowCase from '@components/organisms/ShowCase.astro';
import Layout from '@components/template/Layout.astro';
---

<Layout title='Roberto De la Garza | FrontEnd Developer'>
  <main>
    <Hero />
    <ShowCase />
    <AboutMe />
    <ContactMe />
  </main>
</Layout>
