---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Roberto De la Garza | FrontEnd Developer">
	<main>
		<h2>Roberto De la Garza</h2>
		<h1>FrontEnd Developer</h1>
		<p>Web, mobile and more, my goal is bring solutions to you,
let get in touch now</p>
	</main>
</Layout>

<style>
	
</style>
