---
interface Props {}
---

<header class='mt-6'>
  <nav class='flex flex-col md:flex-row'>
    <p class='flex-1'>FulanoD3Tal</p>
    <ul class='flex gap-6'>
      <li>Home</li>
      <li>Work</li>
      <li>Story</li>
      <li>Contact Me</li>
    </ul>
  </nav>
</header>
