---
import CTAButton from '../atoms/CTAButton.astro';
---

<section class='min-h-[600px] grid items-center'>
  <div class='flex flex-col gap-4'>
    <h2 class='text-xl font-medium'>FrontEnd Developer</h2>
    <h1 class='text-xl md:text-2xl font-rubik font-black'>
      Roberto De la Garza
    </h1>
    <p class='max-w-[45ch]'>
      Web, mobile and more, my goal is bring solutions to you, let get in touch
      now
    </p>
    <div class='flex gap-8'>
      <CTAButton
        link='https://www.linkedin.com/in/roberto-alonso-de-la-garza-mendoza-3699361b2/'
        external
        label='LinkedIn'
      >
        <svg width='35' height='35' viewBox='0 0 30 30' class='fill-current'>
          <g>
            <path
              d='M23.3333 4.28571C23.9648 4.28571 24.5704 4.53656 25.0169 4.98307C25.4634 5.42959 25.7143 6.03519 25.7143 6.66666V23.3333C25.7143 23.9648 25.4634 24.5704 25.0169 25.0169C24.5704 25.4634 23.9648 25.7143 23.3333 25.7143H6.66667C6.0352 25.7143 5.4296 25.4634 4.98308 25.0169C4.53657 24.5704 4.28572 23.9648 4.28572 23.3333V6.66666C4.28572 6.03519 4.53657 5.42959 4.98308 4.98307C5.4296 4.53656 6.0352 4.28571 6.66667 4.28571H23.3333ZM22.7381 22.7381V16.4286C22.7381 15.3993 22.3292 14.4121 21.6014 13.6843C20.8736 12.9565 19.8864 12.5476 18.8571 12.5476C17.8452 12.5476 16.6667 13.1667 16.0952 14.0952V12.7738H12.7738V22.7381H16.0952V16.869C16.0952 15.9524 16.8333 15.2024 17.75 15.2024C18.192 15.2024 18.616 15.378 18.9285 15.6905C19.2411 16.0031 19.4167 16.427 19.4167 16.869V22.7381H22.7381ZM8.90476 10.9048C9.4352 10.9048 9.94391 10.694 10.319 10.319C10.6941 9.94389 10.9048 9.43519 10.9048 8.90475C10.9048 7.79761 10.0119 6.89285 8.90476 6.89285C8.37117 6.89285 7.85944 7.10482 7.48213 7.48212C7.10483 7.85943 6.89286 8.37116 6.89286 8.90475C6.89286 10.0119 7.79762 10.9048 8.90476 10.9048ZM10.5595 22.7381V12.7738H7.26191V22.7381H10.5595Z'
            >
            </path>
          </g>
        </svg>
      </CTAButton>
      <CTAButton link='https://github.com/FulanoD3tal' external label='Github'>
        <svg width='40' height='40' viewBox='0 0 40 40' class='fill-current'>
          <g>
            <path
              d='M20.0001 5.99998C18.1616 5.99998 16.3411 6.36211 14.6425 7.06567C12.9439 7.76924 11.4006 8.80047 10.1006 10.1005C7.47507 12.726 6.00007 16.287 6.00007 20C6.00007 26.188 10.0181 31.438 15.5761 33.3C16.2761 33.412 16.5001 32.978 16.5001 32.6V30.234C12.6221 31.074 11.7961 28.358 11.7961 28.358C11.1521 26.734 10.2421 26.3 10.2421 26.3C8.96807 25.432 10.3401 25.46 10.3401 25.46C11.7401 25.558 12.4821 26.902 12.4821 26.902C13.7001 29.03 15.7581 28.4 16.5561 28.064C16.6821 27.154 17.0461 26.538 17.4381 26.188C14.3301 25.838 11.0681 24.634 11.0681 19.3C11.0681 17.746 11.6001 16.5 12.5101 15.506C12.3701 15.156 11.8801 13.7 12.6501 11.81C12.6501 11.81 13.8261 11.432 16.5001 13.238C17.6061 12.93 18.8101 12.776 20.0001 12.776C21.1901 12.776 22.3941 12.93 23.5001 13.238C26.1741 11.432 27.3501 11.81 27.3501 11.81C28.1201 13.7 27.6301 15.156 27.4901 15.506C28.4001 16.5 28.9321 17.746 28.9321 19.3C28.9321 24.648 25.6561 25.824 22.5341 26.174C23.0381 26.608 23.5001 27.462 23.5001 28.764V32.6C23.5001 32.978 23.7241 33.426 24.4381 33.3C29.9961 31.424 34.0001 26.188 34.0001 20C34.0001 18.1615 33.638 16.341 32.9344 14.6424C32.2308 12.9439 31.1996 11.4005 29.8996 10.1005C28.5995 8.80047 27.0562 7.76924 25.3576 7.06567C23.6591 6.36211 21.8386 5.99998 20.0001 5.99998Z'
            >
            </path>
          </g>
        </svg>
      </CTAButton>
      <CTAButton link='mailto:su.escala.es.biblica@gmail.com' label='Email'>
        <svg width='28' height='28' viewBox='0 0 28 28' class='fill-current'>
          <g>
            <path
              d='M23.3333 21H21V10.7917L14 15.1667L7 10.7917V21H4.66667V7.00001H6.06667L14 11.9583L21.9333 7.00001H23.3333M23.3333 4.66667H4.66667C3.37167 4.66667 2.33334 5.70501 2.33334 7.00001V21C2.33334 21.6188 2.57917 22.2123 3.01675 22.6499C3.45434 23.0875 4.04783 23.3333 4.66667 23.3333H23.3333C23.9522 23.3333 24.5457 23.0875 24.9833 22.6499C25.4208 22.2123 25.6667 21.6188 25.6667 21V7.00001C25.6667 6.38117 25.4208 5.78767 24.9833 5.35009C24.5457 4.9125 23.9522 4.66667 23.3333 4.66667Z'
            ></path>
          </g>
        </svg>
      </CTAButton>
    </div>
  </div>
</section>
