---
import Card from '../molecules/Card.astro';
---

<section id='work' class="mb-32">
  <h2 class='font-rubik text-heading mb-20'>Last work</h2>
  <div class='grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4'>
    <Card
      name='Alternatives Movies'
      description='SaaS to generate altenatives poster of populars movies with the power of AI'
      img='/src/assets/works/1.png'
      link='https://www.alternativesmovieai.com/'
    />
    <Card
      name='Final Countdown'
      description='Android and iOS goal tracker app, with excelent performance and light weight'
      img='/src/assets/works/2.png'
      link='https://play.google.com/store/apps/details?id=com.fulanod3tal.final_coutdown&pcampaignid=web_share'
    />
    <Card
      name='Plan Ejecutivo CONL'
      description='Status and proyections site of Nuevo Leon Goberment plans site'
      img='/src/assets/works/3.png'
      link='https://planestrategico.conl.mx/'
    />
  </div>
</section>
