---
interface Props {
  title: string;
}

import Header from '@components/organisms/Header.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Web, mobile and more, my goal is bring solutions to you, let get in touch now' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fulanod3tal.com/" />
    <meta property="og:title" content="Roberto De la Garza | FrontEnd Developer" />
    <meta property="og:description" content="Web, mobile and more, my goal is bring solutions to you, let get in touch now" />
    <meta property="og:image" content="https://fulanod3tal.com/opengraph-en.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://fulanod3tal.com/" />
    <meta property="twitter:title" content="Roberto De la Garza | FrontEnd Developer" />
    <meta property="twitter:description" content="Web, mobile and more, my goal is bring solutions to you, let get in touch now" />
    <meta property="twitter:image" content="https://fulanod3tal.com/opengraph-en.png" />

    <title>{title}</title>
  </head>
  <body
    class='max-w-screen-2xl mx-auto text-base px-4 md:px-14 mb-8 bg-white dark:bg-zinc-800 text-black dark:text-white'
  >
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-ExtraBold.ttf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Black.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
</style>
